
.socaial {
    display: flex;
    align-items: center;
  }
  

  .social ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  .social ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    line-height: 48px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
  }


.social ul li .fa {
    color: white;
    transition: all 0.5s ease;
  }

  .social ul li .fa-instagram {
    font-size: 26px;
  }
  
  /* instagram */
  .social ul li:hover.instagram {
    background-color: #bc2a8d;
    transition: all 0.5s ease;
  }
  
  .social ul li:hover .fa-instagram {
    color: white;
    transition: all 0.5s ease;
  }
  
  
  /* whatsapp */
  .social ul li:hover.whatsapp {
    background-color: #4dc247;
    transition: all 0.5s ease;
  }
  
  .social ul li:hover .fa-whatsapp {
    color: white;
    transition: all 0.5s ease;
  }